$tooltip-max-width: 240px;
$navbar-breakpoint: 0px;

@import '../common/styles.scss';

html, body, #container {
  width: 600px;
  min-width: 600px;
  min-height: 365px;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
}

.loading {
  @extend .is-loading;
  flex-grow: 1;
}

.message {
  background: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 2em;
  font-weight: bold;
  opacity: 0.7;
  font-style: italic;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  .notification {
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.navbar.is-light {
  padding: 0 1.25rem;

  .navbar-item {
    padding-left: 0;
    padding-right: 0;

    &.remotestorage {
      padding-right: 1rem;
    }

    .logo .icon {
      margin-left: -0.25rem;
    }
  }
}

.editing {
  box-shadow: none;

  &.saving {
    position: relative;
    pointer-events: none;

    &:after {
      content: 'Saved!';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background: rgba(70, 148, 8, 0.3);
      color: $green;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      font-weight: bold;
      animation: fadeinout 3s;
    }
  }

  .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin: 0;
  }

  .actions {
    @extend %clear-fix;

    .reset {
      float: left;
    }

    .save {
      float: right;
    }
  }
}
