$navbar-breakpoint: 800px;

@import '../common/styles.scss';

html, body, #container {
  min-height: 100vh;
}

.create-vault,
.open-vault {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;

  .box {
    padding: 2em 5em;
    width: 550px;
    max-width: 100%;

    .label[for="passphrase"] {
      color: #555;
      font-size: 1.2em;
      margin: 0 0 0.6em;

      .example {
        display: block;
        font-size: 0.8em;
        color: #999;
      }
    }

    .control {
      display: flex;

      .input-group {
        width: 100%;
        text-align: center;

        .plaintext {
          font-size: 0.8em;
          font-weight: bold;
          vertical-align: middle;
          margin-top: 0.5em;
          -moz-user-select: none;
          user-select: none;

          input {
            margin-right: 0.1em;
          }
        }
      }

      .button {
        margin-left: 0.5em;
      }
    }

    .help {
      margin-top: 0.8em;
    }
  }
}

.loading-page {
  @extend .is-loading;

  min-height: 100vh;
}

.dashboard {
  .search {
    display: flex;

    .field {
      flex-grow: 1;
      margin-right: 1em;
    }

    & > .button {
      .icon {
        margin-right: 0;
      }
    }
  }

  .breadcrumb {
    margin-bottom: 0.7em;
  }

  .dashboard-header, .search-header {
    display: flex;
    align-items: center;
    padding-top: 2.2em;
    margin-bottom: 1.5em;

    .image {
      flex-grow: 0;
      flex-shrink: 0;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg.fa-home {
        width: 80%;
        height: 80%;
      }

      svg.fa-search {
        width: 70%;
        height: 70%;
      }
    }

    .details {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      min-width: 0;

      .title {
        // We need to use negative margins because otherwise the overflow: hidden cuts off tall characters
        margin: -0.6em 0 -0.4em 0;
        line-height: 2;
        font-size: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .category-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;

    .image {
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: 4px;
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      overflow: hidden;

      img, .image-placeholder {
        width: 48px;
        height: 48px;
        vertical-align: bottom;
      }
    }

    .details {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      padding: 0 1.2rem;
      min-width: 0;

      .title, .subtitle {
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .title {
        // We need to use negative margins because otherwise the overflow: hidden cuts off tall characters
        margin: -0.6em 0 -0.4em 0;
        font-size: 2em;
      }

      .subtitle {
        margin: -0.4em 0;
      }
    }

    .actions {
      flex-grow: 0;
      flex-shrink: 0;
      padding-right: 0.75rem;
    }
  }

  .no-contents {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 1.4em;
    opacity: 0.8;
  }

  .contents {
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 4px;
    box-shadow: 0 2px 3px unquote("rgb(10 10 10 / 10%)"), 0 0 0 1px unquote("rgb(10 10 10 / 10%)");

    .list-item {
      padding: 0.5em 1em;

      &:not(:last-child) {
        border-bottom: 1px solid #dbdbdb;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    .content-view {
      background-color: whitesmoke;
      display: flex;
      padding: 0;
      align-items: center;
      height: 48px;
      overflow: hidden;
      cursor: pointer;

      .image {
        flex-grow: 0;
        flex-shrink: 0;

        img, .image-placeholder {
          width: 48px;
          height: 48px;
          vertical-align: bottom;
        }
      }

      .details {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        padding: 0 0.75rem;
        min-width: 0;

        .title, .subtitle {
          line-height: 2;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          .highlighted {
            background: rgb(255, 204, 0);
            border-radius: 3px;
            color: black;
          }
        }

        .title {
          // We need to use negative margins because otherwise the overflow: hidden cuts off tall characters
          margin: -0.5em 0 -0.4em 0;
        }

        .subtitle {
          margin: -0.4em 0;
        }
      }

      .actions {
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 0.75rem;
      }
    }

    .content-edit {
      .field-label {
        max-width: 6rem;
      }

      .level-right {
        .button {
          margin-left: 0.75rem;
        }
      }
    }
  }

  .pagination {
    margin-top: 2em;
  }
}

.settings {
  .title {
    margin-bottom: 0.7em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  .loading-status {
    font-size: 0.8em;
    margin-left: 0.5em;
    opacity: 0.7;
    vertical-align: 1px;

    .icon {
      vertical-align: -2px;
      margin-left: 0.2em;
    }

    &:before {
      content: '-';
      margin: 0 0.5em 0 0;
    }
  }

  .autolock {
    display: flex;
    align-items: center;

    .autolock-locktime {
      display: flex;
      align-items: center;

      &.disabled {
        opacity: 0.7;
      }

      .input {
        width: 4em;
        margin: 0 0.5em;
      }
    }
  }

  .remotestorage {
    display: flex;
    align-items: center;

    .field {
      margin: 0;
    }

    .input {
      width: 20em;
      margin: 0 0.5em;
    }

    .address {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0 0.5em;
    }

    .button:first-of-type {
      margin: 0 0.5em 0 0;
    }
  }

  .json-import-export {
    .button {
      margin-right: 0.5em;
    }
  }
}
